*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
/*	background: #F9F9F9;*/
}
.navbar{
	background:black;
/*	opacity:0.5;*/
	width: 100%;
	height: 80px;
	z-index: 999999;
/*
	position :fixed;
	top: 0;
*/
}
.overlay input{
	font-size: 20px;
	color: black;
}
.hero-slider-container{
	width: 100%;
	height:520px;
	background: url('../images/hero-burst.svg')no-repeat center center/cover;
	position: relative;
}
.overlay{
	text-align: center;
	background:#3149B9; 
	width: 100%;
	height: 440px;
	opacity: 0.8;
	position: absolute;
	top: 80px;
}
.logo{
	z-index: 99999;
	padding-left: 110px;
	padding-top: 20px;
	display: grid;
/*	justify-content: space-between;*/
	grid-template-columns: 1fr 6fr;
	grid-gap: 500px;
}
ul{
	display:flex;
	flex-direction:row;
	padding-right: 
}
li{
	list-style: none;
}
.navbar a:hover{
	cursor: pointer;
	color: #1ED760;
}
a{
	line-height:40px;
	padding-right: 40px;
	font-family: poppins;
	justify-content: center;
	text-decoration: none;
	color: white;
}
.heading1{
/*	text-align: center;*/
	font-family: poppins;
	font-size: 50px;
	color:white;
	font-weight: 600;
	padding-top: 120px;
}
.input-filed{
	margin-top: 20px;
	width: 765px;
	height: 55px;
	border-radius: 5px;
	background: #D5D8EA;
	position: relative;
	padding-left: 10px;
}
.icon{
	position: absolute;
	top: 210px;	
	left: 1015px;
}
.options{
	width: 1100px;
	height: 125px;
/*	background: pink;*/
	margin: 20 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}
.part1{
	padding-top: 40px;
	width: 270px;
	height: 125px;
/*	background: #DDD;*/
}
.part2{
	padding-top: 40px;
	width: 270px;
	height: 125px;
/*	background: #DDD;*/
}
.part3{
	padding-top: 40px;
	width: 270px;
	height: 125px;
/*	background: #DDD;*/
}
.part4{
	padding-top: 40px;
	width: 270px;
	height: 125px;
/*	background: #DDD;*/
}
.head1{
	font-family: poppins;
	font-size: 12px;
	padding-bottom: 10px;
	color: white;
}
.head2{
	font-family: poppins;
	font-size: 16px;
	color: white;
}
.head2b{
	padding-top: 5px;
	font-family: poppins;
	font-size: 16px;
	color: white;
}
.icon-circle-div{
	position: absolute;
	top: 415px;
	left: 104px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: white;
	z-index: 9999;
}
.arrow{
	padding-top: 14px;
	color:#3149B9; 
}
.three-parts{
	width: 1349px;
	height: 390px;
	background: #EFEFEF;
	padding-top: 45px;
	padding-left:150px;
}
.container-parts{
	width: 1057px;
	height: 305px;
/*	background: white;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.p1{
	width: 290px;
	height: 305px;
/*	background: #AAA;*/
}
.p2{
	width: 290px;
	height: 305px;
/*	background: #AAA;*/
}
.p3{
	width: 290px;
	height: 305px;
/*	background: #AAA;*/
}
.heading2{
	padding-top: 30px;
	text-align: center;
	font-family: poppins;
	font-size: 25px;
	color:black;
		
/*	font-weight: 600;*/
/*	padding-top: 170px;*/
}
 .p1 ul{
	padding-top: 45px;
	padding-left: 38px;
	display: flex;
	flex-direction: column;
}
.p1 li{
	color: #3149B9;
	font-size: 20px;
	font-weight: 500px;
	font-family: poppins;
	padding-bottom: 10px;
}
.p2 ul{
	padding-top: 45px;
	padding-left: 38px;
	display: flex;
	flex-direction: column;
}
.p2 li{
	color: #3149B9;
	font-size: 20px;
	font-weight: 500px;
	font-family: poppins;
	padding-bottom: 10px;
}
.p3 ul{
	padding-top: 45px;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
}
.p3 li{
	color: #3149B9;
	font-size: 20px;
	font-weight: 500px;
	font-family: poppins;
	padding-bottom: 10px;
}
.icon-circle-div2{
	text-align: center;
	position: absolute;
	top: 885px;
	left: 104px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: white;
	z-index: 9999;
}
.arrow2{
	padding-top: 14px;
	color:#3149B9; 
}
.visit-div{
	padding-top: 25px;
	width: 1349px;
	height: 480px;
	background: #F9F9F9;
}
.content-visit{
	text-align: center;
	margin: 0 auto;
	width: 620px;
	height: 429px;
/*	background: #CCC;*/
}
.heading1-b{
/*	text-align: center;*/
	font-family: poppins;
	font-size: 50px;
	color:black;
	font-weight: 600;
	padding-top: 60px;
	padding-bottom: 40px;
}
.content-visit h2{
	color: black;
}
.head2-b{
	font-family: poppins;
	font-size: 16px;
	color: black;
	padding-top: 40px;
}
.findbtn{
	font-family: poppins;
	letter-spacing: 2px;
	color: white;
	width: 223px;
	height: 50px;
	background: #3149B9;
	border-radius: 40px;
}

.b{
	padding-top: 50px;
}
.red-section{
	text-align: center;
	width: 1349px;
	height: 1230px;
	background: #F7523C;
	padding-top: 50px;
/*	color: white;*/
}
.icon-circle-div3{
	text-align: center;
	position: absolute;
	top: 1365px;
	left: 104px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: white;
	z-index: 9999;
}
.arrow3{
	padding-top: 14px;
	color:#3149B9; 
}

.icon-circle-div4{
	text-align: center;
	position: absolute;
	top: 2590px;
	left: 104px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: white;
	z-index: 9999;
}
.arrow4{
	padding-top: 14px;
	color:#3149B9; 
}
.heading1-b{
	color: white;
}
.grid{
	width:1035px;
	height: 880px;
/*	background: #AAA;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid1{
	text-align: left;
	width: 497px;
	height: 880px;
/*	background: pink;c 0p */
}
.grid2{
	text-align: left;
	width: 497px;
	height: 880px;
/*	background: pink;*/
}
.hr-bottom{
	border-bottom: solid 1px white;
}
.for-border{
	padding-top:40px;
	width: 497px;
	border-bottom: solid 1px white;
}
.sub-head{
	padding-top: 80px;
	font-family: poppins;
	font-size: 20px;
	color: white;
	padding-bottom: 20px;
}
.head-hr{
	font-family: poppins;
	font-size: 18px;
	color: white;
}
.head-hr-new{
	padding-top: 20px;
	font-family: poppins;
	font-size: 18px;
	color: white;
	text-decoration: underline;
	line-height: 2px;
}
.content-mobile{
	width: 985px;
	height: 472px;
/*	background: #000;round:pink;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.image{
	width:  445px;
	height: 472px;
/*	background: orange;*/
}
.mobile-section{
	width: 1349px;
	height: 472px;
/*	background: #DDD;*/
}
.txt-mobile{
	width: 475px;
	height: 472px;
/*	background: blue;*/
	text-align: left;
}
.sub-head2{
	padding-top: 80px;
	font-family: poppins;
	font-size: 30px;
	color: #333;
	padding-bottom: 20px;
	font-weight: 900;
}
.head-hr2{
	line-height: 25px;
	text-align: left;
	font-family: poppins;
	font-size: 18px;
	color: #333;
}
.link-btn{
	margin-top: 30px;
	width: 252px;
	height: 45px;
	background: white;
	border-radius: 100px;
	border: solid 3px black;
}
.i{
	padding-right: 10px;
}
.link-btn:hover{
	cursor: pointer;
}

.icon-circle-div5{
	text-align: center;
	position: absolute;
	top: 3060px;
	left: 104px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: white;
	z-index: 9999;
}
.spotify-content{
	width: 1349px;
	height: 495px;
	background: #EFEFEF;
	padding-top: 50px;
}
.center-div{
	width: 630px;
	height: 400px;
/*	background: pink;*/
	margin: 0 auto;
	text-align: center;
}
.heading1-b2{
/*	text-align: center;*/
	font-family: poppins;
	font-size: 50px;
	color:black;
	font-weight: 600;
	padding-top: 60px;
	padding-bottom: 40px;
}
.head-hr2b{
	line-height: 25px;
	text-align: center;
	font-family: poppins;
	font-size: 18px;
	color: #333;
}
.footer-div{
	width: 1349px;
	height: 540px;
	background: #000000;
}
.content-texts{
	width: 1180px;
	height: 295px;
	background: black;
	margin-left: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
/*	background: url(images/all-devices.svg)no-repeat;*/
}
.container{
	padding-top: 100px;
}
.navbar a:hover{
	cursor: pointer;
	color: #1ED760;
}

.footer-text{
	color: #AAA;
	font-family: poppins;
	text-transform:uppercase;
	font-size: 14px;
}
.footer-links{
	display: flex;
	flex-direction:column;
}
.footer-div a:hover{
	color: #1ED760;
}
.social-icons{
	margin-left: 170px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.icon1{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}
.icon2{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}

.icon3{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
	padding-left: 3px;
}

.icons{
	padding-left: 14px;
	padding-top: 10px;
	color: white;
}
i:hover{
	cursor: pointer;
	color: #1ED760;
}
.last-footer{
	width: 1184px;
	height: 110px;
/*	background: #222326;*/
	margin-left: 80px;
	display: flex;
	justify-content: space-between;
}
.last-footer li{
	padding-top: 60px;
	font-size: 12px;
}
.last-footer a{
	color: #AAA;
}
.copyright{
	color: #AAA;
	font-family: poppins;
	font-size: 12px;
}
.social-icons{
	margin-left: 170px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.icon1{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}
.icon2{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}

.icon3{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
	padding-left: 3px;
}
