*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.navbar{
	background:black;
	opacity:0.5;
	width: 100%;
	height: 80px;
	position :fixed;
	top: 0;
}
.hero-slider-container{
	width: 100%;
	height: 540px;
	background: #FBB64A;
}
.logo{
	z-index: 99999;
	padding-left: 110px;
	padding-top: 20px;
	display: grid;
/*	justify-content: space-between;*/
	grid-template-columns: 1fr 6fr;
	grid-gap: 500px;
}
ul{
	display:flex;
	flex-direction:row;
	padding-right: 
}
li{
	list-style: none;
}
.navbar a:hover{
	cursor: pointer;
	color: #1ED760;
}
a{
	line-height:40px;
	padding-right: 40px;
	font-family: poppins;
	justify-content: center;
	text-decoration: none;
	color: white;
}
.heading1{
	text-align: center;
	font-family: poppins;
	font-size: 80px;
	color:white;
	font-weight: 600;
}
.sub-heading{
	font-size: 30px;
	padding-top: 20px;
	text-align: center;
	font-family: poppins;	
	color: white;
	font-weight: 600;
}
.center-content{
	text-align: center;
	padding-top: 100px;
}
span{
	text-align: center;
	letter-spacing: 3px;
	color: white;
	font-family: poppins;
}
.btn{
	margin-top: 30px;
	background: #1DB954;
	border-radius: 30px;
/*	padding: 10px 30px;*/
	width: 250px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 50px;
}
.btn:hover{
	width: 255px;
	height: 55px;
	cursor: pointer;
	background:#1ED760; 
}
.middle-section{
	width: 1349px;
	height: 1451px;
	background: white;
}
.premium-heading{
	font-family: poppins;
	font-size: 40px;
	color: black;
	text-align: center;
	padding-top: 80px;
	font-weight: 800;
}
.cards-premiums{
	width: 1152px;
	height: 340px;
/*	background: pink;*/
	margin: 50 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content{
	padding-left: 70px;
}
.card1{
	width: 287px;
	height: 341px;
/*	background: #DDD;*/
}
.card2{
	width: 287px;
	height: 341px;
/*	background: #DDD;*/
}
.card3{
	width: 287px;
	height: 341px;
/*	background: #DDD;*/
}
.card4{
	width: 287px;
	height: 341px;
/*	background: #DDD;*/
}
.card-text{
	padding-top: 40px;
	font-family: poppins;
	font-size: 18px;
	font-weight: 600;
}
.text{
	padding-left: 40px;
	font-family: poppins;
	color:black;
	font-size: 14px;
	padding-top: 10px;
	
}
.text2{
	font-size: 14px;
	font-family: poppins;
	line-height: 2px;
	text-align: center;
	line-height: 20px;
}
.btn-pre{
	background: #1DB954;
	border-radius: 30px;
/*	padding: 10px 30px;*/
	width: 250px;
	height: 50px;
	font-weight: 600;
	font-size: 14px;
}
.btn-pre:hover{
	width: 255px;
	height: 55px;
	cursor: pointer;
	background:#1ED760; 
}
.btn-pre-container{
	margin-left: 550px;
	padding-bottom: 100px;
}
.culture-heading{
	font-family: poppins;
	font-size: 40px;
	color: black;
	text-align: center;
	padding-top: 80px;
	font-weight: 900;
}
.cards-premium{
	width: 1152px;
	height: 340px;
/*	background: pink;*/
	margin: 80 40;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.new-text{
	font-family: poppins;
	padding-top: 10px;
}
.last-section{
	width: 1349px;
	height: 758px;
	background: #F9F9F9;
}
.new-text-p{
	text-align: center;
	padding-top: 20px;
	font-family: poppins;
}
.card-shadow{
	width: 1149px;
	height: 500px;
	background: #F9F9F9;
	margin: 30 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.c1{
	width: 380px;
	height: 500px;
	background: #F9F9F9;
}
.c2{
	width: 380px;
	height: 500px;
	background: #F9F9F9;
}
.c3{
	width: 380px;
	height: 500px;
	background: #F9F9F9;
}
.new-text-card{
	text-align: center;
	padding-top: 30px;
	font-family: poppins;
	font-size: 30px;
}
.main-card{
	width: 290px;
	height: 340px;
	border-radius: 10px;
	background: white;
	margin: 40 auto;
}
.dummy{
	padding-top: 30px;
}
.content-div{
	width: 252px;
	height: 280px;
/*	background: #DDD;*/
	margin: 0 auto;
}
.btn-card{
	font-size: 12px;
	font-family: poppins;
	width: 90px;
	border-radius: 2px;
	height: 26px;
	background: #3F9ED7;
}
.txt{
	font-size: 14px;
}
.new{
	font-size: 12px;
	font-family: poppins;
	margin-top: 10px;
	margin-bottom: 15px;
}
.p{
	margin-bottom: 50px;
}
.card-shadow .span{

	letter-spacing: 0;
	font-size: 12px;
	color: black;
	text-decoration:` underline;
}

.footer-div{
	width: 1349px;
	height: 120px;
	background: #000000;
}
.footer-text{
	color: #AAA;
	font-family: poppins;
	text-transform:uppercase;
	font-size: 14px;
}
.footer-links{
	display: flex;
	flex-direction:column;
}
.footer-div a:hover{
	color: #1ED760;
}
i:hover{
	cursor: pointer;
	color: #1ED760;
}
.last-footer{
	width: 1184px;
	height: 110px;
/*	background: #222326;*/
	margin-left: 80px;
	display: flex;
	justify-content: space-between;
}
.last-footer li{
	padding-top: 60px;
	font-size: 12px;
}
.last-footer a{
	color: #AAA;
}
.copyright{
	color: #AAA;
	font-family: poppins;
	font-size: 12px;
}