*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
	background :#F37C75;
}
.hero-slider-container{
	background:url('../images/hero-burst.svg') no-repeat center center/cover;
	width: 100%;
	height: 100vh;
}
.navbar{
	background:black;
	opacity:0.5;
	width: 100%;
	height: 80px;
	position :fixed;
	top: 0;
}
.logo{
	z-index: 99999;
	padding-left: 110px;
	padding-top: 20px;
	display: grid;
/*	justify-content: space-between;*/
	grid-template-columns: 1fr 6fr;
	grid-gap: 500px;
}
ul{
	display:flex;
	flex-direction:row;
	padding-right: 
}
li{
	list-style: none;
}
a{
	line-height:40px;
	padding-right: 40px;
	font-family: poppins;
	justify-content: center;
	text-decoration: none;
	color: white;
}
.heading1{
	text-align: center;
	font-family: poppins;
	font-size: 80px;
	color:white;
	font-weight: 600;
}
.sub-heading{
	text-align: center;
	font-family: poppins;	
	color: white;
}
.center-content{
	text-align: center;
	padding-top: 260px;
}
span{
	letter-spacing: 3px;
	color: white;
	font-family: poppins;
}
.btn{
	margin-top: 20px;
	background: #1DB954;
	border-radius: 30px;
/*	padding: 10px 30px;*/
	width: 250px;
	height: 50px;
	font-weight: 400;
}
.btn:hover{
	cursor: pointer;
	background:#1ED760; 
}
.footer-div{
	width: 1349px;
	height: 540px;
	background: #000000;
}
.content-texts{
	width: 1180px;
	height: 295px;
	background: black;
	margin-left: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
/*	background: url(images/all-devices.svg)no-repeat;*/
}
.container{
	padding-top: 100px;
}
.navbar a:hover{
	cursor: pointer;
	color: #1ED760;
}

.footer-text{
	color: #AAA;
	font-family: poppins;
	text-transform:uppercase;
	font-size: 14px;
}
.footer-links{
	display: flex;
	flex-direction:column;
}
.footer-div a:hover{
	color: #1ED760;
}
.social-icons{
	margin-left: 170px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.icon1{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}
.icon2{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
}

.icon3{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background: #222326;
	padding-left: 3px;
}

.icons{
	padding-left: 14px;
	padding-top: 10px;
	color: white;
}
i:hover{
	cursor: pointer;
	color: #1ED760;
}
.last-footer{
	width: 1184px;
	height: 110px;
/*	background: #222326;*/
	margin-left: 80px;
	display: flex;
	justify-content: space-between;
}
.last-footer li{
	padding-top: 60px;
	font-size: 12px;
}
.last-footer a{
	color: #AAA;
}
.copyright{
	color: #AAA;
	font-family: poppins;
	font-size: 12px;
}