*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.navbar{
	background:black;
	opacity:0.5;
	width: 100%;
	height: 80px;
/*	position :fixed;*/
	top: 0;
}
.logo{
	z-index: 99999;
	padding-left: 110px;
	padding-top: 20px;
/*	display: grid;*/
/*	justify-content: space-between;*/
/*
	grid-template-columns: 1fr 6fr;
	grid-gap: 500px;
*/
}
.center-container{
	width:1349px;
	height: 520px;
	background: #19E68C;
}
.dummy{
	padding-top: 130px;
}
.container{
	width: 1032px;
	height: 280px;
/*	background: #DDD;*/
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.content1{
	width: 670px;
	height: 280px;
/*	background: pink;*/
}
.content2{
	margin: 0 auto;
	text-align: center;
	width: 335px;
	height: 280px;
/*	background:#AAA;*/
}
.heading1{
	text-align: center;
	font-family: poppins;
	font-size: 40px;
	color:white;
	font-weight: 600;
}
.new{
	font-size: 20px;
	text-align: center;
}
.t{
	margin-top: 30px;
}
.middle-container{
	padding-top: 80px;
	width: 1349px;
	height: 315px;
	background: #F8F8F8;
}
.sub-heading1{
	font-size: 22px;
	text-align: center;
	font-family: poppins;	
	color:black;
}
.sub-heading2{
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
	font-family: poppins;	
	color:black;
}
.apps{
	padding-left:20px;
	width: 430px;
	height: 60px;
/*	background: pink;*/
	margin: 20 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.last-container{
	width: 1349px;
	height: 370px;
	background: #222326;
/*	margin: 0 auto;*/
	text-align: center;
	padding-top: 60px;
}
.sub-heading3{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
	font-family: poppins;	
	color:white;
}